# Task 30-1

In [29]:
import numpy as np
import pandas as pd

In [30]:
data = pd.read_csv("Property_train.csv")
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62035 entries, 0 to 62034
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Junk                   62035 non-null  int64
 1   InteriorsStyle         62035 non-null  object
 2   PriceIndex8            62035 non-null  object
 3   ListDate               62035 non-null  object
 4   Material               62035 non-null  object
 5   PriceIndex9            62035 non-null  int64
 6   Agency                 62035 non-null  object
 7   AreaIncomeType         62035 non-null  object
 8   EnvRating              62035 non-null  object
 9   PriceIndex7            62035 non-null  object
 10  ExpeditedListing       62035 non-null  int64
 11  PriceIndex4            62035 non-null  object
 12  PriceIndex1            62035 non-null  object
 13  PriceIndex6            62035 non-null  object
 14  PRIMEUNIT              62035 non-null  object
 15  Channel                62035 non-null  object
 16  Zip                    62035 non-null  int64
 17  InsurancePremiumIndex  62035 non-null  int64
 18  PlotType               62035 non-null  object
 19  Architecture           62035 non-null  object
 20  PriceIndex3            62035 non-null  object
 21  Region                 62035 non-null  object
 22  PriceIndex5            62035 non-null  object
 23  SubModel               62035 non-null  object
 24  Facade                 62035 non-null  object
 25  State                  62035 non-null  object
 26  NormalisedPopulation   62035 non-null  int64
 27  BuildYear              62035 non-null  int64
 28  RegionType             62035 non-null  object
 29  PropertyAge            62035 non-null  int64
 30  PriceIndex2            62035 non-null  object
dtypes: int64(8), object(23)
memory usage: 14.7+ MB

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,0,6LLJ,14674.0,9/7/2010,UT7W,8270,CAT3,B,missing,13143.0,...,A,9022.0,6E9G,GREEN,MD,42077,2008,A,2,10692.0
1,1,XZ9F,4172.0,1/7/2009,PRN0,3890,CAT2,B,missing,3461.0,...,A,2742.0,FIVQ,SILVER,OK,77258,2002,A,7,3615.0
2,0,QWEV,8210.0,6/23/2010,A9RA,5900,CAT1,B,missing,6922.0,...,A,3768.0,4K0H,SILVER,SC,94514,2004,A,6,5805.0
3,0,MK2K,7309.0,3/19/2009,RRJQ,7460,OTHER,A,missing,6300.0,...,A,5370.0,ZLXY,WHITE,NC,82302,2002,C,7,6444.0
4,0,GK4G,9182.0,3/3/2010,HE5A,6400,OTHER,B,missing,8330.0,...,A,4803.0,FIVQ,SILVER,SC,49176,2007,B,3,6286.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62030,1,DPIW,15110.0,3/31/2010,1PUV,8745,CAT3,missing,missing,13468.0,...,A,10012.0,9D54,WHITE,CA,87562,2006,A,4,11162.0
62031,0,YOC7,9456.0,10/20/2010,RRJQ,5360,OTHER,B,missing,8543.0,...,A,5439.0,E75G,GOLD,TN,80201,2007,B,3,6147.0
62032,1,CNKZ,8730.0,5/19/2009,ZCI3,6670,CAT3,A,missing,7217.0,...,A,6219.0,UA42,MAROON,IN,65983,2005,A,4,7620.0
62033,0,RELA,8546.0,4/30/2009,X7IX,6600,CAT1,A,missing,7316.0,...,A,6311.0,ASW2,SILVER,TX,59780,2006,A,3,7450.0
62034,0,DUFA,12658.0,11/3/2010,IKAF,8700,CAT2,B,missing,12002.0,...,A,8930.0,FIVQ,GOLD,OK,38703,2009,A,1,9196.0

# Ques: 1

In [31]:
(data['EnvRating'][data['EnvRating']=="missing"]).value_counts()

EnvRating
missing    59092
Name: count, dtype: int64

In [32]:
k=(data['EnvRating']=="missing").value_counts()
print(k)

EnvRating
True     59092
False     2943
Name: count, dtype: int64

# Ques: 2

In [33]:
data['ListDate']=pd.to_datetime(data['ListDate'])

In [34]:
month_counts=data['ListDate'].dt.to_period("M").value_counts()

In [35]:
max_months=month_counts.idxmax()
max_counts=month_counts.max()
print(f"max months are {max_months} with counts {max_counts}")

max months are 2010-11 with counts 3382

# Ques: 3

In [36]:
l = data[['AreaIncomeType','Agency']]
l.describe(include="all")

       AreaIncomeType Agency
count           62035  62035
unique              4      5
top                 A   CAT1
freq            30565  21545

# Ques: 4

In [37]:
gd_data=data.groupby('State')
statewise_median_age = gd_data['PropertyAge'].median().max()
state_max = gd_data['PropertyAge'].median().idxmax()
print(f"The state {state_max} has the highest median Property Age at {statewise_median_age}")

The state AR has the highest median Property Age at 6.0

# Ques: 5

In [38]:
b = pd.to_numeric(data['PriceIndex1'],errors='coerce')
n = np.var(b)
print(n)

6066861.380965519

# Ques: 6

In [44]:
g_data = data.groupby('Architecture')
me_an = g_data['NormalisedPopulation'].mean()
me_an['YIK5']

73381.30404205926

# Ques: 7

In [50]:
g = pd.to_numeric(data['PriceIndex8'],errors='coerce')
m = g.max()
n = g.min()
k = m - n
print(k)

41062.0